.card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.card__image {
  display: flex;
  align-items: start;
  justify-content: center;

  height: 180px;
  padding-top: 10px;

  background: #b8b8b8;
}

.card__info {
  display: flex;
  flex-direction: column;

  min-height: 150px;
  padding: 10px;

  color: var(--white);

  background: var(--black);
}

.card__tag {
  margin-bottom: 3px;
  font-size: 11px;
  font-weight: 300;
  line-height: 15px;
}

.card__name {
  margin-bottom: 8px;
  font-size: 15px;
  font-weight: 600;
  line-height: 110%;
}

.card__author {
  font-size: 11px;
  font-weight: 400;
  line-height: 15px;
}

.card__footer {
  display: flex;
  margin-top: auto;
}

.button__add {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 32px;

  background: none;
  border: 1px solid var(--white);
  border-radius: 6px;
}

.button__active {
  background: var(--white);
}
