.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.menu {
  display: flex;
  gap: 30px;
  align-items: center;
}

.menu__item {
  display: flex;
  gap: 10px;
  align-items: center;

  font-size: 14px;
  line-height: 20px;
  color: var(--black);
  text-decoration: none;
}

.menu__item:visited {
  color: var(--black);
}

.menu__counter {
  padding: 0 10px;

  font-size: 12px;
  font-weight: 600px;
  line-height: 28px;

  border: 1px solid var(--black);
  border-radius: 50%;
}
